<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @question.answer %>
</p>
<% unless @question.user.nil? %>
<p>
	<b>Submitted by:</b>
	<%=h @question.user.email %>
</p>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>